{
  "storage": {
    "consul": {
      "address": "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:8500",
      "path": "vault"
    }
  },
  "listener": [
    {
      "tcp": {
        "address": "0.0.0.0:8200",
        "tls_disable": 1
      }
    }
  ],
  "telemetry": {
    "prometheus_retention_time": "30s",
    "disable_hostname": true
  },
  "max_lease_ttl": "10h",
  "default_lease_ttl": "10h",
  "ui": true
}
